{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header Section -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder welcome-text">LOGIN</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Login to your Account – Your Trusted Tech Partner
            </p>
        </div>
    </div>
</header>

<!-- Login Form Section -->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address :</label>
                    <input type="text" class="form-control" name="Username" placeholder="Enter Your Username" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">
                    
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password :</label>
                    <input type="password" class="form-control" name="User Password" placeholder="Enter Your Password" aria-describedby="passwordHelpBlock">
                </div>
                <button type="submit" class="btn btn-secondary w-100">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
